### 9번문제

In [11]:
import pandas as pd
data = {'이름':['철수','영희','민수','지영'], '나이':[25,30,22,28], '성별':['남자','여자','남자','여자']}
df = pd.DataFrame(data)
df

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

### 10번문제

In [25]:
import pandas as pd
data = {'col1':['a','b','c'], 'col2':[1,2,3]}
df = pd.DataFrame(data)
df
df1 = df.loc[:2, 'col1':'col2']
df1

  col1  col2
0    a     1
1    b     2
2    c     3

### 12번 문제

In [36]:
import pandas as pd
data = {'col1':['a','b','c'], 'col2':[1,2,3]}
data2 = {'col3':['a','b','f'], 'col4':[10,20,30]}
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1, df2, left_on="col1", right_on="col3", how="outer")
df3

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

### 13번 문제

In [42]:
import pandas as pd
data = {'name':['철수','영희','민수','지영'], 'score':[75,88,92,68]}
df = pd.DataFrame(data)
df1 = df[df['score']>=80]
df1

  name  score
1   영희     88
2   민수     92

### 14번 문제

In [46]:
import pandas as pd
data = {'name': ['철수', '영희',None, '지영'], 'score': [75, 88, None, 68]} 
df = pd.DataFrame(data)
result = df.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

### 15번 문제

In [20]:
import pandas as pd
data = {'name': ['철수', '영희','민수'], 'score': [75, 88, 92]} 
df = pd.DataFrame(data)
df
df['score'].mean()
#정답 2번 4번

85.0

### 16번 문제

In [25]:
import pandas as pd
data = {'col1':[1,2,3],'col2':[4,5,6]}
df = pd.DataFrame(data)
print(df)
df1 = df.apply(lambda row: row['col1'] + row['col2'], axis = "columns")
df1

   col1  col2
0     1     4
1     2     5
2     3     6

0    5
1    7
2    9
dtype: int64

### 17번 문제

In [34]:
import pandas as pd
data1 = {'names':['철수','영희','민수'],'score':[75,88,92]}
data2 = {'names':['지영','다현'],'score':[68,95]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df_list = [df1,df2]
pd.concat(df_list)
df3 = pd.concat(df_list, ignore_index=True)
df3

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

### 18번 문제

In [38]:
import pandas as pd
data1 = {'name':['철수','영희','민수'],'score':[75,88,92]}
data2 = {'name':['영희','철수','지영','다현'],'attendence_rate':[90,80,95,85]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1,df2, on='name', how='inner')
df3

  name  score  attendence_rate
0   철수     75               80
1   영희     88               90

### 19-1번 문제

In [49]:
import requests
from bs4 import BeautifulSoup
url = 'https://example.com/'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'html.parser')
target_tag = soup.select_one('body > div > h1')
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'
print(target_tag)

<h1>Example Domain</h1>