### 9번문제

In [11]:
import pandas as pd
data = {'이름':['철수','영희','민수','지영'], '나이':[25,30,22,28], '성별':['남자','여자','남자','여자']}
df = pd.DataFrame(data)
df

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

### 10번문제

In [25]:
import pandas as pd
data = {'col1':['a','b','c'], 'col2':[1,2,3]}
df = pd.DataFrame(data)
df
df1 = df.loc[:2, 'col1':'col2']
df1

  col1  col2
0    a     1
1    b     2
2    c     3

### 12번 문제

In [36]:
import pandas as pd
data = {'col1':['a','b','c'], 'col2':[1,2,3]}
data2 = {'col3':['a','b','f'], 'col4':[10,20,30]}
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1, df2, left_on="col1", right_on="col3", how="outer")
df3

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

### 13번 문제

In [42]:
import pandas as pd
data = {'name':['철수','영희','민수','지영'], 'score':[75,88,92,68]}
df = pd.DataFrame(data)
df1 = df[df['score']>=80]
df1

  name  score
1   영희     88
2   민수     92

### 14번 문제

In [46]:
import pandas as pd
data = {'name': ['철수', '영희',None, '지영'], 'score': [75, 88, None, 68]} 
df = pd.DataFrame(data)
result = df.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

### 15번 문제

In [20]:
import pandas as pd
data = {'name': ['철수', '영희','민수'], 'score': [75, 88, 92]} 
df = pd.DataFrame(data)
df
df['score'].mean()
#정답 2번 4번

85.0

### 16번 문제

In [25]:
import pandas as pd
data = {'col1':[1,2,3],'col2':[4,5,6]}
df = pd.DataFrame(data)
print(df)
df1 = df.apply(lambda row: row['col1'] + row['col2'], axis = "columns")
df1

   col1  col2
0     1     4
1     2     5
2     3     6

0    5
1    7
2    9
dtype: int64

### 17번 문제

In [34]:
import pandas as pd
data1 = {'names':['철수','영희','민수'],'score':[75,88,92]}
data2 = {'names':['지영','다현'],'score':[68,95]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df_list = [df1,df2]
pd.concat(df_list)
df3 = pd.concat(df_list, ignore_index=True)
df3

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

### 18번 문제

In [38]:
import pandas as pd
data1 = {'name':['철수','영희','민수'],'score':[75,88,92]}
data2 = {'name':['영희','철수','지영','다현'],'attendence_rate':[90,80,95,85]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.merge(df1,df2, on='name', how='inner')
df3

  name  score  attendence_rate
0   철수     75               80
1   영희     88               90

### 19-1번 문제

In [49]:
import requests
from bs4 import BeautifulSoup
url = 'https://example.com/'
response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, 'html.parser')
target_tag = soup.select_one('body > div > h1')
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'
print(target_tag)

<h1>Example Domain</h1>

### 19-2번 문제

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
driver.get("https://example.com")
elements_with_a = driver.find_elements(By.CSS_SELECTOR, "a") 
print("특정 a 요소의 개수:", len(elements_with_a))
print("특정 a 요소의 속성 href 값 가져오기:", elements_with_a[0].get_attribute("href")) 
driver.quit()

특정 a 요소의 개수: 1
특정 a 요소의 속성 href 값 가져오기: https://www.iana.org/domains/example

### 22번 문제

In [10]:
import pandas as pd
data = {'이름':['철수','영희','민수','지영'], 
        '나이':[25,30,22,28],
        '성별':['남자','여자','남자','여자']}
df = pd.DataFrame(data)
df.to_csv("examples/out.csv")
df.to_json("examples/out.json")

### 23번 문제

In [12]:
import pandas as pd
df1 = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2']})
df2 = pd.DataFrame({'A':['A3','A4','A5'],
                    'B':['B3','B4','B5']})
result = pd.concat([df1,df2], ignore_index=True)
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

### 24번 문제

In [15]:
import pandas as pd
df1 = pd.DataFrame({'key':['K0','K1','K2'],
                     'A':['A0','A1','A2']})
df2 = pd.DataFrame({'key':['K0','K1','K2'],
                    'B':['B0','B1','B2']})
result = pd.merge(df1,df2, on='key', how='inner')
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### 25번 문제

pandas.concat() 결과:
    학생  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85
pandas.merge() 결과:
 Empty DataFrame
Columns: [학생, 성적_x, 성적_y]
Index: []

In [ ]:
import pandas as pd
df = pd.DataFrame({'학생':['철수','영희','민수'],
                   '성적':[80,75,90]})
new_student_scores = pd.DataFrame({'학생':['지영'],
                    '성적':[85]})
pandas_concat = pd.concat([df, new_student_scores], ignore_index=True)
print("pandas.concat() 결과: ","\n", pandas_concat)
pandas_merge = pd.merge(df, new_student_scores, on='학생', how='inner')
print("pandas.merge() 결과: ","\n", pandas_merge)

### 26번 문제

In [34]:
import pandas as pd
from pandas import Series
df1 = pd.DataFrame({'A':[1,2,3],
                    'B':[4,5,6],}, dtype = "Int64")
df1.index = ['x','y','z']
df2 = pd.DataFrame({'C':[7,8,9],
                    'D':[10,11,12]}, dtype = "Int64")
df2.index = ['x','y','z']
s = Series(data = [13,14,15], index = ['x','y','z'], dtype = "Int64", name = 'E')
pandas_concat = pd.concat([df1, df2, s], axis = 1)
print(pandas_concat)
pd.DataFrame(s)
pandas_merge = pd.merge(pd.merge(df1,df2, left_index = True, right_index = True), s, left_index = True, right_index = True, how = "inner")
print(pandas_merge)

   A  B  C   D   E
x  1  4  7  10  13
y  2  5  8  11  14
z  3  6  9  12  15
   A  B  C   D   E
x  1  4  7  10  13
y  2  5  8  11  14
z  3  6  9  12  15

### 27번 문제

In [1]:
import pandas as pd
df = pd.DataFrame({'이름':['철수','영희','민수'],
                   '국어':[90,80,85],
                   '영어':[85,95,70],
                   '수학':[75,80,90]})
df

   이름  국어  영어  수학
0  철수  90  85  75
1  영희  80  95  80
2  민수  85  70  90